/* delete model css */
.delete-model {
  position: fixed;
  top: 35%;
  left: 40%;
  padding: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  transition: 0.8s ease all;
  z-index: 99;
}
.cart-image{
  width: 150px;
}
/*** loader css start ***/
.loader {
  animation: rotate 1s infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: "";
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: #fff;
  box-shadow: 30px 0 0 #ff3d00;
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: #ff3d00;
  box-shadow: 30px 0 0 #fff;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.8);
  }
  50% {
    transform: rotate(360deg) scale(1.2);
  }
  100% {
    transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 #ff3d00;
  }
  50% {
    box-shadow: 0 0 0 #ff3d00;
    margin-bottom: 0;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #ff3d00;
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 0 #fff;
    margin-top: -20px;
    transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 #fff;
    margin-top: 0;
  }
}

/*** loader css end ***/
@media screen and (width <= 767px) {
  /* delete model css */
  .delete-box {
    position: fixed !important;
    top: 38% !important;
    left: 10% !important;
    width: 80% !important;
    background-color: #fff !important;
  }
  /* continue shopping image css */
  .continueShopping {
    width: 100% !important;
  }
  /* delete warning text css */
  .delete-warning {
    font-size: 16px !important;
  }
}
@media screen and (250px <= width <= 354px) {
  /* delete warning text css */
  .delete-warning {
    font-size: 16px !important;
  }
}
@media screen and (768px <= width <= 1023px) {
  .delete-model {
    top: 40% !important;
    left: 25% !important;
    width: 50% !important;
  }
  .continueShopping {
    width: 60% !important;
  }
}
@media screen and (1024px <= width <= 1279px) {
  .delete-model {
    top: 45% !important;
    left: 25% !important;
    width: 50% !important;
  }
  .continueShopping {
    width: 40% !important;
  }
}
@media screen and (1280px <= width <= 1365px) {
  .delete-model {
    top: 40% !important;
    left: 35% !important;
    width: 30% !important;
  }
  .continueShopping {
    width: 40% !important;
  }
}
@media screen and (1366px <= width <= 1440px) {
  .delete-model {
    top: 40% !important;
    left: 35% !important;
    width: 30% !important;
  }
  .continueShopping {
    width: 30% !important;
  }
}
@media screen and (1441px <= width <= 1560px) {
  .delete-model {
    top: 40% !important;
    left: 35% !important;
    width: 30% !important;
  }
  .continueShopping {
    width: 30% !important;
  }
}
