$display: "flex";
$flex-direction: "column";
$justify-content: "center";
$align-items: "center";

// delete model css
.delete-model {
  position: fixed;
  top: 35%;
  left: 40%;
  padding: 50px;
  background-color: white;
  display: $display;
  justify-content: $flex-direction;
  align-items: $align-items;
  width: 25%;
  height: auto;
  transition: 0.8s ease all;
}

// continue shopping image css
.continueShopping {
  width: 33%;
}

@media screen and (250px <= width <= 354px) {
  // delete model css
  .delete-model {
    top: 38% !important;
    left: 5% !important;
    width: 90% !important;
  }
  // continue shopping image css
  .continueShopping {
    width: 100% !important;
  }
  // delete warning text css
  .delete-warning {
    font-size: 16px !important;
  }
}
@media screen and (355px <= width <= 767px) {
  // delete model css
  .delete-model {
    top: 38% !important;
    left: 10% !important;
    width: 80% !important;
  }
  // continue shopping image css
  .continueShopping {
    width: 100% !important;
  }
}
@media screen and (768px <= width <= 1023px) {
  .delete-model {
    top: 40% !important;
    left: 25% !important;
    width: 50% !important;
  }
  .continueShopping {
    width: 100% !important;
  }
}
@media screen and (1024px <= width <= 1279px) {
  .delete-model {
    top: 45% !important;
    left: 25% !important;
    width: 50% !important;
  }
  .continueShopping {
    width: 100% !important;
  }
}
@media screen and (1280px <= width <= 1365px) {
  .delete-model {
    top: 40% !important;
    left: 35% !important;
    width: 30% !important;
  }
  .continueShopping {
    width: 100% !important;
  }
}
