// default css
p{
    margin: 0px;
}
.product-image{
    width: 100%;
}
.foodImage{
    width: 100%;
}

.quantity-input{
    width: 10%;
}

@media screen and (width <= 767px){
    .quantity-input{
        width: 15%;
    }   
    .description-container{
        padding-inline: 5px;
    }
}