.login-form-container{
    width: 30%;
}


.email-input .email-lable{
    font-size: 14px;
    font-weight: 600;
    color: #9a9a9d;
}
.password-input .password-lable{
    font-size: 14px;
    font-weight: 600;
    color: #9a9a9d;
}
.forgot-passcode p{
    font-size: 14px;
    font-weight: 600;
    color:#FA4A0C;
}